<section class="login-clean">
    <h1 align="center">FORM ADD USER</h1>
    <form action="/addusers" enctype="multipart/form-data" method="post">
        <span>Họ tên</span><br>
        <input class="hoten" name="name" type="text" placeholder="..."><br>
        <span>Ngày sinh</span>
        <input class="date" name="date" type="text" placeholder="..."><br>
        <span>Giới tính</span><input class="sex" name="sex" type="text" placeholder="..."><br>
        <span>Số điện thoại</span><input class="phone" name="phone" type="text" placeholder="..."><br>
        <span>Sở thích</span><input class="hobby" name="hobby" type="text" placeholder="..."><br>
        <span>Ảnh</span><input name="avatar" type="file"><br><br>
        <button class="add-content" type="submit">Save</button>
        <a class="forgot" href="user">Back</a>
    </form>

</section>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>